.letsFadeInUp {   
    position: relative;
    -webkit-animation-name: fadeInUp; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 0.1s; /* Safari 4.0 - 8.0 */
    animation-name: fadeInUp;
    animation-duration: 0.1s;
    animation-fill-mode: forwards;
}

.loaderFadeInUp {   
    position: relative;
    -webkit-animation-name: fadeInUp; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 0.1s; /* Safari 4.0 - 8.0 */
    animation-name: fadeInUp;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes fadeInUp {
    from {top: 2px;opacity:0;}
    to {top:0;opacity:1;}
}

/* Standard syntax */
@keyframes fadeInUp {
    from {top: 2px;opacity:0;}
    to {top:0;opacity:1;}
}

.loaderFadeOutDown {   
    position: relative;
    -webkit-animation-name: fadeOutDown; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 0.1s; /* Safari 4.0 - 8.0 */
    animation-name: fadeOutDown;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.letsFadeOutDown {   
    position: relative;
    -webkit-animation-name: fadeOutDown; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 0.1s; /* Safari 4.0 - 8.0 */
    animation-name: fadeOutDown;
    animation-duration: 0.1s;
    animation-fill-mode: forwards;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes fadeOutDown {
    from {top: 0;opacity:1;}
    to {top: 2px;opacity:0;}
}

/* Standard syntax */
@keyframes fadeOutDown {
    from {top: 0;opacity:1;}
    to {top: 2px;opacity:0;}
}

.spinner {
  width: 100px;
  height: 100px;
  position: absolute;
  box-sizing: border-box;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  -webkit-animation: rotate-all 1s linear infinite;
}

.right-side,
.left-side {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  overflow: hidden;
}

.left-side {
  left: 0;
}

.right-side {
  right: 0;
}

.bar {
  width: 100%;
  height: 100%;
  border-radius: 200px 0 0 200px;
  border: 10px solid #5FD321;
  position: relative;
}
.bar:after {
  content: "";
  width: 10px;
  height: 10px;
  display: block;
  background: #5FD321;
  position: absolute;
  border-radius: 10px;
}
.right-side .bar {
  border-radius: 0 200px 200px 0;
  border-left: none;
  transform: rotate(-10deg);
  transform-origin: left center;
  animation: rotate-right 0.75s linear infinite alternate;
}
.right-side .bar:after {
  bottom: -10px;
  left: -5px;
}
.left-side .bar {
  border-right: none;
  transform: rotate(10deg);
  transform-origin: right center;
  animation: rotate-left 0.75s linear infinite alternate;
}
.left-side .bar:after {
  bottom: -10px;
  right: -5px;
}

@keyframes rotate-left {
  to {
    transform: rotate(30deg);
  }
  from {
    transform: rotate(175deg);
  }
}
@keyframes rotate-right {
  from {
    transform: rotate(-175deg);
  }
  to {
    transform: rotate(-30deg);
  }
}
@keyframes rotate-all {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

*{
  box-sizing: border-box;
}

.spinner_small {
  width: 14px;
  height: 14px;
  box-sizing: border-box;
  margin: auto;
  -webkit-animation: rotate-all_small 1s linear infinite;
  display: inline-block;
  position: relative;
  top: 2px;
  margin-left: 8px;
}

.right-side_small,
.left-side_small {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  overflow: hidden;
}

.left-side_small {
  left: 0;
}

.right-side_small {
  right: 0;
}

.bar_small {
  width: 100%;
  height: 100%;
  border-radius: 200px 0 0 200px;
  border: 2px solid #fff;
  position: relative;
}
.bar_small:after {
  content: "";
  width: 2px;
  height: 2px;
  display: block;
  background: #fff;
  position: absolute;
  border-radius: 10px;
}
.right-side_small .bar_small {
  border-radius: 0 200px 200px 0;
  border-left: none;
  transform: rotate(-10deg);
  transform-origin: left center;
  animation: rotate-right_small 0.75s linear infinite alternate;
}
.right-side_small .bar_small:after {
  bottom: -10px;
  left: -5px;
}
.left-side_small .bar_small {
  border-right: none;
  transform: rotate(10deg);
  transform-origin: right center;
  animation: rotate-left_small 0.75s linear infinite alternate;
}
.left-side_small .bar_small:after {
  bottom: -10px;
  right: -5px;
}

@keyframes rotate-left_small {
  to {
    transform: rotate(30deg);
  }
  from {
    transform: rotate(175deg);
  }
}
@keyframes rotate-right_small{
  from {
    transform: rotate(-175deg);
  }
  to {
    transform: rotate(-30deg);
  }
}
@keyframes rotate-all_small {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}