@font-face {
    font-family: "Brn";
    font-weight: normal;
    font-style: normal;
    src: url("../fonts/lineto-brown-pro-regular.woff2") format("woff2"),
        url("../fonts/lineto-brown-pro-regular.woff") format("woff");
}

@font-face {
    font-family: "Brn";
    font-weight: bold;
    font-style: normal;
    src: url("../fonts/lineto-brown-pro-bold.woff2") format("woff2"),
        url("../fonts/lineto-brown-pro-bold.woff") format("woff");
}

input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select:focus,
select,
textarea, button {
    font-size: 16px;
    
}

input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select:focus,
select,
textarea,
a,
label, button {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

* {
    
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
}

body {
    
    font-size: 16px;
    color: #1b1b1b;
    line-height: 24px;
    background: #fff;
}

#body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#page_container{
    flex-grow:1;
}

.inverted {
    background: #1b1b1b;
    color: #F7F7F7;
}

section {
    transition: all 0.5s ease;
}

hr {
    border: none;
    border-bottom: 1px solid #E0E3E9;
}

input[type=text],
input[type=email],
input[type=password],
input[type=time] {
    border: none;
    border-bottom: 1px solid #1b1b1b;
    background: transparent;
    
    border-radius: 0;
    padding-left: 0;
    padding-right: 0;
    padding: 8px !important;
    width: 100% !important;
    background: #F0F2F5 !important;
    border-radius: 4px !important;
    border-bottom: none !important;
}


.small {
    font-size: 14px !important;
    line-height: 18px !important;
}

h1,
h2 {
    font-size: 16px;
    font-weight: bold;
}

h3,
h4,
h5 {
    font-weight: bold;
    font-size: 16px;
}

.body_container h1,
.body_container h2 {
    display: inline-block;
}

h1.small,
h2.small,
h3.small,
h4.small,
h5.small {
    text-transform: uppercase;
}

em {
    font-style: italic;
}

strong {
    font-weight: bold;
}

@media screen and (min-width: 0px) {


    .small {
        font-size: 14px !important;
    }

    /* h1, h2{
            font-size:28px;
            line-height: 34px;
        } */
}

a,
a:hover,
a:visited,
a:focus {
    text-decoration: none;
    color: #1b1b1b;
    cursor: pointer;
}

.inverted a,
.inverted a:hover,
.inverted a:visited,
.inverted a:focus {
    color: #fff;
}


a:focus {
    border: none;
}



.show-mobile {
    display: none;
}

.hide-mobile {
    display: inline-block;
}

@media screen and (max-width: 719px) {
    .show-mobile {
        display: inline-block;
    }

    .hide-mobile {
        display: none !important;
    }
}

.text-right {
    text-align: right;
}

@media screen and (max-width: 720px) {
    .text-right.wrap {
        text-align: left;
    }

    footer .wrap {
        text-align: center !important;
    }
}

.mt-1 {
    margin-top: 25px;
}

.mt-2 {
    margin-top: 50px;
}

.mb-1 {
    margin-bottom: 25px;
}

.mb-2 {
    margin-bottom: 50px !important;
}

.mr-1{
    margin-right:25px;
}

textarea {
    padding: 8px;
    width: 100% !important;
    background: #F0F2F5 !important;
    border-radius: 4px !important;
    border: none !important;
}

.status-input {
    padding: 8px !important;

    width: 100% !important;
    background: #F0F2F5 !important;
    border-radius: 4px !important;
    border-bottom: none !important;
}

.inverted textarea {
    border-color: #fff !important;

}

.btn {
    
    color: #1B1B1B;
    letter-spacing: 3px;
    text-align: center;
    /* text-transform: uppercase; */
    cursor: pointer;
    background: transparent;
}



.border {
    border-color: #5FD321;
}

.btn-border,
a.btn-border:focus {
    border-radius: 4px;
    background: #0060BF;
    color: #fff !important;
    
    border: none !important;
    letter-spacing: 0;
    font-weight: bold;
    padding: 10px 14px;
}

.btn-border.delete,
a.btn-border.delete:focus {

    background: #FD2D55;
}


.btn-border:hover {}

.btn-border.delete:hover {}

.btn-border.action:hover {
    opacity: 0.5;
}

.btn-border.action {
    opacity: 0.5;
}

@keyframes fillUp {
    0% {
        background-position: right bottom;
    }

    100% {
        background-position: left top;
    }
}

.btn-link,
a.btn-link:focus {
    border-bottom: 1px solid #1b1b1b !important;
    padding: 0px;
    padding-bottom: 16px;
    display: inline-block;
}

@media screen and (max-width: 719px) {
    .btn-link {
        padding-bottom: 8px;
        padding-top: 8px;
    }
}


.inverted .btn-link {
    border-color: #fff !important;
}



.btn-tiny,
.btn-tiny:visited {
    background: #0060BF;
    padding: 2px 6px;
    position: relative;
    color: #fff;
    font-size: 10px;
    text-transform: uppercase;
    display: inline-block;
    top: -2px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 22px;
    word-break: keep-all;
    line-height: 12px;
}

.btn-tiny:hover {
    color: #fff;
}

.inverted .btn-tiny {

    color: #1b1b1b;
    background: #F7F7F7;
}


/* .back-arrow {
    height: 22px;
    display: inline-block;
} */

/* @media screen and (max-width: 719px) {
    .back-arrow {
        height: 16px;
    }
} */

#page_container {
    /* width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; */
    /* flex-grow: 1; */
}

.header_container {
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom:25px;
}
@media screen and (max-width: 500px) {
    .header_container {
        /* padding-top: 25px; */
    }
}
.header_container_inner {
    display: flex;
    /* max-width: 750px; */
    width: 100%;
    max-width:720px;
    align-items: center;
}


.header_left {
    flex-grow: 1;
}
.header_left a{
    width:100%;
}
.header_right {
    padding-right: 0;
}

.body_container {
    /* max-width: 560px; */
    width: 100%;
    max-width:720px;
    transition: all 0.2s ease;
}

section.page {
    padding: 0px;
}

section.team {
    display: flex;
    flex-direction: column;
    background-color: #E0E0E0;
    padding: 20px;
    margin-bottom: 20px;
}

@media screen and (min-width: 720px) {
    section.team {
        /* padding:30px 30px; */
    }
}

@media screen and (min-width: 1100px) {
    section.team {
        /* padding:40px 60px; */
    }
}

section.team.active {
    background-color: #5FD321;
}

section.team.deleted {
    background: transparent;
    border: 1px solid #E0E0E0;
}

.scheduling_container_home .hidden {
    display: none;
}

section.team h1 {
    padding: 0;
    margin: 0;
}

.col {
    flex-grow: 1;
    min-width: 50%;
}

@media screen and (max-width: 720px) {
    .col.wrap {
        min-width: 100%;
    }
}

section.page .col {
    margin-bottom: 10px;
}

.col.no-grow {
    flex-grow: 0;
    min-width: unset;
}

section.page {
    /* margin-bottom: 10px;
    margin-top: 20px; */
}

.row {
    display: flex;
    padding-bottom: 7px;
    align-items: flex-start;
    flex-wrap: wrap;
}

.row.with-checkbox {
    align-items: center;
    padding-bottom: 0px;
}

.row.extra {
    padding-top: 10px;
}

.schedule-hide {
    display: none;
}

.schedule-disabled {
    background: transparent !important;
    border-bottom: 1px solid #E0E3E9;
    border-top: 1px solid #E0E3E9;
}

section.team .col.hidden {
    opacity: 0;
}

section.page .col.hidden {
    display: none;
}

.row.hidden {
    display: none;
}

span.hidden {
    display: none;
}

.add-btn-container {
    padding: 20px;
}
#footer_container{
    padding: 0;
}
footer,
footer a,
footer a:visited,
footer a:hover {
    font-size: 12px !important;
    text-align: center;
    color: #A6AFBA;
    width: 100%;

}


.truncate {
    text-overflow: ellipsis !important;
    max-width: 100vw;
    /* Needed to make it work */
    overflow: hidden;
    white-space: nowrap;
}
.header_left .truncate{
    max-width: 65vw;
}
.truncate * {
    min-width: 0;
}


.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #D5D9DE;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #0060BF;
}

input:focus+.slider {
    box-shadow: 0 0 1px #0060BF;
}

input:checked+.slider.presence {
    background-color: #5FD321;
}

input:focus+.slider.presence {
    box-shadow: 0 0 1px #5FD321;
}

input:checked+.slider.schedule {
    background-color: #FD2D55;
}

input:focus+.slider.schedule {
    box-shadow: 0 0 1px #FD2D55;
}

input:checked+.slider.dnd {
    background-color: #9252C9;
}

input:focus+.slider.dnd {
    box-shadow: 0 0 1px #9252C9;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* class applies to select element itself, not a wrapper element */
.select-css, .select-css:focus {
    display: inline-block;
    color: #1b1b1b;
    line-height: 1.3;
    padding: 11px 24px 11px 8px;
    width: auto;
    max-width: 100%;
    /* useful when width is set to anything other than 100% */
    box-sizing: border-box;
    margin: 0;
    background-color: #F0F2F5 !important;
    border-radius: 4px !important;
    border: none !important;
    
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    font-family: inherit;
    /* note: bg image below uses 2 urls. The first is an svg data uri for the arrow icon, and the second is the gradient. 
                for the icon, if you want to change the color, be sure to use `%23` instead of `#`, since it's a url. You can also swap in a different svg icon or an external image reference
                
            */
    background-image: url('../img/down_arrow.png');
    background-repeat: no-repeat, repeat;
    /* arrow icon position (1em from the right, 50% vertical) , then gradient position*/
    background-position: right .7em top 50%, 0 0;
    /* icon size, then gradient */
    background-size: .65em auto, 100%;
}
@media screen and (max-width: 720px) {
    .select-css {
        padding: 10px 24px 10px 8px;
    }
}

/* Hide arrow icon in IE browsers */
.select-css::-ms-expand {
    display: none;
}

/* Hover style */
.select-css:hover {
    border-color: #888;
}

/* Focus style */
.select-css:focus {
    border-color: #aaa;
    /* It'd be nice to use -webkit-focus-ring-color here but it doesn't work on box-shadow */
    box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #222;
    outline: none;
}

/* Set options to normal weight */
.select-css option {
    font-weight: normal;
}

/* Support for rtl text, explicit support for Arabic and Hebrew */
*[dir="rtl"] .select-css,
:root:lang(ar) .select-css,
:root:lang(iw) .select-css {
    background-position: left .7em top 50%, 0 0;
    padding: .6em .8em .5em 1.4em;
}

/* Disabled styles */
.select-css:disabled,
.select-css[aria-disabled=true] {
    color: graytext;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22graytext%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
        linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
}

.select-css:disabled:hover,
.select-css[aria-disabled=true] {
    border-color: #aaa;
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.four-o-four-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    max-width: 400px;
}

.login-register-form-container {

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.login-register-form {
    max-width: 420px;
    width: 100%;

    margin: 20px 0;
    margin-top: 30px;
}

.login-register-form.registration {
    max-width: 620px;
}

.skinny {
    /* max-width: 480px; */
}

.skinny.very {
    /* max-width: 360px; */
}

.body_container.marketing {
    margin-top: 0;
    /* max-width: 720px; */
}

.body_container.marketing-wide {
    margin-top: 0;
    /* max-width: 1200px; */
}

.login-register-form input {
    width: 100%;

}

.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(27, 27, 27, 0.9);
    opacity: 1;
    transition: opacity 0.5s ease;
}

.modal-container.hidden {
    pointer-events: none;
    opacity: 0;
    display: none;
}

.modal {
    background: #fff;
    padding: 20px;
    max-width: 520px;
    width: calc(100% - 80px);
    margin: 20px 0;
    border-radius: 4px;
}

@media screen and (max-width: 720px) {
    .modal {
        width: calc(100% - 40px);
        padding: 0;
    }
}

.modal-col {
    display: flex;
    justify-content: space-around;
}

.modal-btn {
    margin: 0 10px;
    flex-grow: 1;
}

.modal-header {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

th,
td {

    text-align: left;
    border-bottom: 1px solid #D5D9DE;
}

tr td:last-child {
    text-align: right;

}

tr:last-child td {
    border-bottom: none;
}

th {
    font-weight: bold;
}

table {
    width: 100%;
    border-spacing: 0 10px;
    border-collapse: unset;
}

.error {
    padding: 0;
    opacity: 0;
}

.error.active {
    background: #FFD500;
    /* color:#fff; */
    padding: 10px 16px;
    opacity: 1;
    display: inline-block;
    margin-top: 7px;
}

ul ul {
    margin-left: 25px;

}

ul {
    margin-left: 22px;
}

li:before {
    content: "-";
    margin-right: 12px;
    margin-left: -22px;
}

.weekday-selector {
    display: flex;
    flex-direction: column;
}

.highlight-active {
    background: #5FD321;
    padding: 4px 6px;
    border-radius: 4px;
}

.highlight-inactive {
    background: #D5D9DE;
    padding: 4px 6px;
    border-radius: 4px;
}

.highlight-scheduled {
    /* background:#F6F2D5; */
    background: #FD2D55;
    color: #fff;
    padding: 4px 6px;
    border-radius: 4px;


}

.inverted .highlight-inactive,
.inverted .highlight-active {
    color: #1b1b1b;
}

.scheduling_container {
    /* border-radius: 8px; */
    overflow: hidden;
}

.scheduling_container_home {
    /* border-radius: 8px; */
    overflow: hidden;
    /* margin: 0 -40px; */
}

@media screen and (max-width: 720px) {
    .scheduling_container {
        border-radius: 0;
    }

    .scheduling_container_home {
        /* margin:20px; */
        margin-bottom: 25px;
    }
}

.page.schedule {
    padding: 40px;
    margin: 0 -15px;
    /* background:#F6F2D5; */
    background: #F3F5F7;

}

.page.schedule.all-teams {
    padding: 0px 40px;
}

.page.exceptions {
    padding: 40px;
    margin: 0 -15px;
    /* background:#F6F2D5; */
    background: #E6EBF0;
    border-top: 1px dashed #D5D9DE;

}

@media screen and (max-width: 1100px) {
    .page.schedule {
        padding: 20px;
        margin: 0;
    }

    .page.exceptions {
        padding: 20px;
        margin: 0;
    }
}

@media screen and (max-width: 720px) {
    .page.schedule.all-teams {
        padding: 0px 25px;
    }

    .page.schedule {
        padding: 20px;
        margin: 0;
    }

    .page.exceptions {
        padding: 20px;
        margin: 0;
    }
}

.notification-textarea {
    margin-left: 30px;
    width: calc(100% - 78px);
}

.notification-note {
    margin-left: 30px;
}





input[type=checkbox]+label {
    display: block;
    margin: 0.2em;
    margin-left: 0;
    cursor: pointer;
    padding: 0.2em;
}

input[type=checkbox] {
    display: none;
}

input[type=checkbox]+label:before {
    content: "\2714";
    background-color: #D5D9DE;
    border-radius: 4px;
    font-size: 22px;
    width: 1em;
    height: 1em;
    display: inline-flex;
    align-items: center;
    padding-bottom: 2px;
    justify-content: center;
    margin-right: 12px;
    vertical-align: bottom;
    color: transparent;
    transition: .2s;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

input[type=checkbox]+label:active:before {
    /* transform: scale(0); */
}

input[type=checkbox]:checked+label:before {
    background-color: #0060BF;

    color: #fff;
}

input[type=checkbox]:disabled+label:before {
    transform: scale(1);
    border-color: #aaa;
}

input[type=checkbox]:checked:disabled+label:before {
    transform: scale(1);
    background-color: #bfb;
    border-color: #bfb;
}



.radio {}

.radio input[type="radio"] {
    display: none;
}

.radio input[type="radio"]+.radio-label:before {
    content: '';
    background: transparent;
    border-radius: 100%;
    border: 2px solid #E0E3E9;
    display: inline-block;
    width: 1em;
    height: 1em;
    margin-right: 12px;
    cursor: pointer;
    text-align: center;
    transition: all 0.2s ease;
    margin-top: 4px;
    flex-basis: 1em;
    flex-shrink: 0;
}

.radio input[type="radio"]:checked+.radio-label:before {
    background-color: #FDBC16;
    box-shadow: inset 0 0 0 3px #fff;
    border: 2px solid #FDBC16;

}

.radio input[type="radio"]:focus+.radio-label:before {
    outline: none;
    border-color: #1b1b1b;
}

.radio input[type="radio"]:disabled+.radio-label:before {
    border-color: #1b1b1b;
    background: transparent;
}

.radio input[type="radio"]+.radio-label:empty:before {
    margin-right: 0;
}

.radio-label {
    display: flex;
    align-items: flex-start;
}

.radio-label>div {
    flex-grow: 1;
}

.radio-group {
    margin-bottom: 0.5em;
}

.team-slug {
    /* text-transform: uppercase; */
    font-size: 1.25em;
    /* color: #fff; */
}



/* Hide clear buttons */

input[type="time"]::-webkit-clear-button {
    display: none;
}

input[type="time"]::-moz-clear {
    display: none;
}

input[type="time"]::-ms-clear {
    display: none;
}

#current-notifications-keywords-textarea-saved-text,
#current-status-textarea-saved-text,
#active-status-input-saved-text,
#inactive-status-input-saved-text,
#active-notifications-input-saved-text,
#inactive-notifications-input-saved-text {

    opacity: 1;
    -webkit-animation-duration: 5s;
    animation-duration: 5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.saved-text {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    33% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.edit-exception-buttons {
    display: flex;
}

.edit-exception-buttons div:first-child {
    padding-right: 11px;
}

.exception-delete {
    padding: 0;
    flex-grow: 1;
    text-align: right;
}

.register-list {
    font-size: 16px;
    line-height: 28px;
}

.register-list li {
    margin-bottom: 20px;
}

.register-list li li {
    margin-bottom: 0px;
}

blockquote {
    background: transparent;
    border-left: 3px solid #0060BF;
    padding: 0.5em 10px;
    color: #6B7787;
    font-size: 0.8em;
    line-height: 1.5em;
}

blockquote p {
    display: inline;
}

#grr, #grrefresh {
    position: fixed;
    display: flex;
    top: 100vh;
    opacity: 0;
    left: 0;
    z-index: 99999999999;
    width: 100%;
    -webkit-animation-duration: 10s;
    animation-duration: 10s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    align-content: flex-end;
    justify-content: center;
}
#grrefresh {
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    cursor: pointer;
}
#grr-tounge, #grrefresh-tounge {
    background: #00B3F0;
    color: #fff;
    display: inline;
    padding: 10px 16px;
    overflow: hidden;
    border-radius: 20px;
    margin: 0 10px;
}

.grr-action {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
}

.grr-show {
    -webkit-animation-name: grrefresh-show;
    animation-name: grrefresh-show;
}

.grr-hide{
    -webkit-animation-name: grrefresh-hide;
    animation-name: grrefresh-hide;
}

.grr-error {
    color: #fff;
    background: #FD2D55 !important;
}

.grr-warning {
    color: #1b1b1b !important;
    background: #FDBC16 !important;
}

@keyframes grrefresh-hide {
    0% {
        opacity: 1;
        top: calc(100vh - 100px);
    }

    

    5% {
        opacity: 1;
        top: 100vh;
    }
    100% {
        opacity: 1;
        top: 100vh;
    }
}

@keyframes grrefresh-show {
    0% {
        opacity: 1;
        top: 100vh;
    }

    

    5% {
        opacity: 1;
        top: calc(100vh - 100px);
    }
    100% {
        opacity: 1;
        top: calc(100vh - 100px);
    }
}

@keyframes fadeOut {
    0% {
        opacity: 0;
        top: calc(100vh);
    }

    5% {
        opacity: 1;
        top: calc(100vh - 100px);
    }

    94% {
        opacity: 1;
        top: calc(100vh - 100px);
    }

    99% {
        opacity: 1;
        top: 100vh;
    }

    100% {
        opacity: 0;
        top: 100vh;
    }
}

#loader {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 99999999;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}

body {
    background: #242949;

}

.container {
    /* width: 100vw;
    overflow-x: hidden !important; */
}

.body_container {
    /* background: #fff; */
    border-radius: 8px;
    margin: 0 auto;
    margin-bottom: 50px;
    padding-top: 25px;
}

/* Calendar */
.rd-days{
    width:unset;
    border-spacing: 8px;
    border-bottom:none;
}

body{
    /* overflow: hidden; */
}

body, .register-list, h3, h4, h5, input[type="color"],
    body, .register-list, h3, h4, h5, input[type="color"],
    input[type="date"],
    input[type="datetime"],
    input[type="datetime-local"],
    input[type="email"],
    input[type="month"],
    input[type="number"],
    input[type="password"],
    input[type="search"],
    input[type="tel"],
    input[type="text"],
    input[type="time"],
    input[type="url"],
    input[type="week"],
    select:focus,
    select,
    textarea {
    
        font-size: 18px;
        line-height: 28px;

    }
    .btn, button{
        font-size:18px;
    }
    h1, h2.team-slug{
        font-size:26px !important;
    }
    h2{
        font-size:18px !important;
    
        
    }
    .scheduling_container_home{
        font-size:24px;
        line-height: 34px;
    }

    blockquote{
        font-size:0.8em;
        line-height: 1.5em;
    }
    img.icon, img.header-icon, img.team-icon{ 
        width:26px;
    }
    img.icon{
        position:relative;top:5px;
    }
    img.team-icon{
        margin-right:10px;
    }
    img.header-logo{
        width:55px;border-radius:8px
    }
    img.back-icon{
        height:34px;margin-right:25px;position:relative;top:4px;
    }
    img.back-arrow{
        height:24px;margin-right:15px;
    }

    input[type="text"], input[type="email"], input[type="password"], input[type="time"], textarea, blockquote, .clamp{
        max-width:720px;

    }
    #body{
        max-width:1600px;
        margin:0 auto;
    }
    .all-team-row, footer .row{
        max-width:100% !important;
    }
    #body{
        padding: 40px;
    }
    
@media screen and (max-width: 1100px) {
    body, .register-list, h3, h4, h5, input[type="color"],
    input[type="date"],
    input[type="datetime"],
    input[type="datetime-local"],
    input[type="email"],
    input[type="month"],
    input[type="number"],
    input[type="password"],
    input[type="search"],
    input[type="tel"],
    input[type="text"],
    input[type="time"],
    input[type="url"],
    input[type="week"],
    select:focus,
    select,
    textarea {
      
        font-size: 20px;
        line-height: 30px;

    }
    .btn, button{
        font-size:18px;
    }
    h1, h2.team-slug{
        font-size:28px !important;
    }
    h2{
        font-size:22px !important;
    
        
    }
    .scheduling_container_home{
        font-size:22px;
    }
    blockquote{
        font-size:0.8em;
        line-height: 1.5em;
    }
    img.icon, img.header-icon, img.team-icon{ 
        width:26px;
    }
    img.icon{
        position:relative;top:5px;
    }
    img.team-icon{
        margin-right:10px;
    }
    img.header-logo{
        width:55px;border-radius:8px
    }
    img.back-icon{
        height:34px;margin-right:25px;position:relative;top:4px;
    }
    img.back-arrow{
        height:24px;margin-right:15px;
    }
    #body{
        /* padding: 30px; */
    }
    .all-team-row .col:first-child{
        width:100%;
    }
    .all-team-row .col{
        width: 50%;
        min-width:unset;
    }
}
@media screen and (min-width: 1024px) {
    .all-team-row .col:first-child{
        width:100%;
    }
    .all-team-row .col{
        width: 33%;
        min-width:unset;
    }
}

@media screen and (min-width: 1200px) {
    .all-team-row .col:first-child{
        width:25%;
    }
    .all-team-row .col{
        width: 25%;
        min-width:unset;
    }
}


@media screen and (max-width: 500px) {
    body, .register-list, h3, h4, h5, input[type="color"],
    input[type="date"],
    input[type="datetime"],
    input[type="datetime-local"],
    input[type="email"],
    input[type="month"],
    input[type="number"],
    input[type="password"],
    input[type="search"],
    input[type="tel"],
    input[type="text"],
    input[type="time"],
    input[type="url"],
    input[type="week"],
    select:focus,
    select,
    textarea {
      
        font-size: 16px;
        line-height: 24px;

    }
    .btn, button{
        font-size:16px;
    }
    h1, h2.team-slug{
        font-size:28px !important;
    }
    h2{
        font-size:22px !important;
    
        
    }
    .scheduling_container_home{
        font-size:22px;
    }
    blockquote{
        font-size:0.8em;
        line-height: 1.5em;
    }
    img.icon, img.header-icon, img.team-icon{
        width:22px;
    }
    img.icon{
        position:relative;top:6px;
    }
    img.team-icon{
        margin-right:10px;
    }
    img.header-logo{
        width:44px;border-radius:8px
    }
    img.back-icon{
        height:32px;margin-right:10px;
    }
    img.back-arrow{
        height:22px;margin-right:15px;
    }
    #body{
        padding: 10px;
    }
    .all-team-row .col{
        width: 100%;
        min-width:unset;
    }
}
/* 
#outer_container{
    transform: scale(1.5) translateX(16.5%) translateY(16.5%);
    width: 67vw;
    height: 67vh;
    overflow-x:hidden;
    -webkit-perspective: 1000 !important;
}

#body{
    width: 67vw;
    min-height: 67vh;
}
.container{
    min-height: calc(67vh - 100px);
}

@media screen and (max-width: 1100px) {
    #outer_container{
        transform: scale(1.25) translateX(10%) translateY(10%);
        width: 80vw;
        height: 80vh;
    }
    
    #body{
        width: 80vw;
        min-height: 80vh;
    }

    .container{
        min-height: calc(80vh - 100px);
    }
}

@media screen and (max-width: 500px) {
    #outer_container{
        transform: scale(1) translateX(0) translateY(0);
        width: 100vw;
        height: 100vh;
    }
    
    #body{
        width: 100vw;
        min-height: 100vh;
    }

    .container{
        min-height: calc(100vh - 160px);
    }
} */


.rd-container{
    border: none !important;
    border-radius: 4px;
    box-shadow:
    rgba(0, 0, 0, 0.25) 0px 10px 22px;
}
.rd-day-selected, .rd-time-option:hover, .rd-time-selected{
    background-color: #0060BF !important;
    border-bottom-color: #0060BF !important;
}